@import "../../../../public/styles_props.scss";
.parent_wrapper {
  background-color: map-get($colors, color_00);
  height: 100%;
  min-height: 100vh;
  header {
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
  }
  .wrapper {
    margin-top: 50px;
    padding: 10px;
    .sec_01 {
      padding-top: 15px;
      h3 {
        @include header;
      }
      p {
        @include _text;
      }
    }
    .sec_02 {
      margin-top: 15px;
      margin-bottom: 80px;
      h3 {
        @include header;
        text-align: left;
      }
      article {
        margin-top: 8px;
        margin-bottom: 20px;
        background-color: white;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        border-radius: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3),
          0px 0px 3px rgba(0, 0, 0, 0.3);
        b {
          @include sub_header;
        }
        div {
          display: flex;
          gap: 10px;
          p {
            @include _text;
            color: map-get($colors, color_08);

            aside {
              font-style: italic;
              color: map-get($colors, color_03);
              margin-top: 3px;
            }
          }
          button {
            width: 120px;
            height: 40px;
            padding: 0px 15px;
            background-color: map-get($colors, color_01);
            border: none;
            border-radius: 8px;
            color: white;
            font-size: map-get($font_size, l);
          }
        }
      }
      span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: inter;
        font-weight: map-get($font_weight, l);
        color: map-get($colors, color_06);
      }
    }
  } // Wrapper scope ends here
} // Parent_wrapper scope ends here
